# Contents

1. **[Introduction to List](#list)**
2. **[Introduction to Tuple](#tuple)**
3. **[Introduction to Dictionary](#Dictionary)**
3. **[Introduction to Sets](#sets)**

<a id="list"> </a>
## <span style="color:darkolivegreen">**1. Introduction to List**</span>

### Constructing Lists

To create a list, use square brackets `[ ]` and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [4]:
#create a list
List = [23, 16, 'Rushanthi', 23,26]

### Acessing Elements in a List
You can access the list items by referring to the index number

In [11]:
List

[23, 16, 'Rushanthi', 23, 26]

In [12]:
type(List)

list

**Indexing:**<br>
We use the index operator `[ ]`. Note that the index starts from 0 in python and must be an integer

In [10]:
#Inclusive and Exclusive in Python
List[1:2]
List[0:3]

[23, 16, 'Rushanthi']

In [15]:
#If you want all characters then
List[0:]

[23, 16, 'Rushanthi', 23, 26]

In [13]:
#Print the second item of the list
List[1]

16

**Negative Indexing**:<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

In [14]:
#Print the second last item of the list
List[-2]

23

### Slicing of a List
List uses the slicing operator `:` (colon) to extract part of the sequence

In [16]:
#Return first three elements from the list
List[0:3]

[23, 16, 'Rushanthi']

### Change Item Value
Refer the index number to change the value of a specific item

In [17]:
#change the third item
List[2] = 'Baskaran'
List

[23, 16, 'Baskaran', 23, 26]

In [23]:
List[3] == 50

True

### List Methods
Python has a set of built-in methods that you can use on lists. Some examples are:<br>

`append()`<br>
`insert()`<br>
`reverse()`<br>

You can press the `tab` key to see the list of available methods

**`list.append()`**<br>
This method will add the element at the end of a list

In [19]:
# add element to the list
List.append('Rushanthi')
List

[23, 16, 'Baskaran', 23, 26, 'Rushanthi', 'Rushanthi']

**`list.insert(i, item)`**<br>
This method will insert an element at the ith index in a list

In [20]:
# insert element at 2nd index in a list
List.insert(3, 50)
List

[23, 16, 'Baskaran', 50, 23, 26, 'Rushanthi', 'Rushanthi']

**`list.reverse()`**<br>
This method reverses the sorting order of the elements

In [24]:
# reverse the elements in the list
List.reverse()
List

['Rushanthi', 'Rushanthi', 26, 23, 50, 'Baskaran', 16, 23]

<a id="tuple"> </a>
## <span style="color:darkolivegreen">**2. Introduction to Tuple**</span>

### Creating Tuple
We can have tuple of same type of data items as well as mixed type of data items

In [25]:
# Create a tuple of int, float, string
ex_tuple = ('Hello', 'Bye', 4757)
ex_tuple

('Hello', 'Bye', 4757)

### Access Tuple Elements
We use indexes to access the elements of a tuple

In [27]:
# access the second element from the tuple
ex_tuple[2]

4757

### Change Tuple Values
We cannot change the elements of a tuple because elements of <span style="color:crimson">tuples are immutable</span>.

In [28]:
# change the second element from the tuple
ex_tuple[1] = 23
ex_tuple

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
As discussed tuple elements are immutable which also means that we <span style="color:crimson">cannot delete the elements of a tuple</span>. However deleting entire tuple is possible

In [6]:
# delete element from the tuple

### Tuple Methods

Python has built-in methods that you can use on tuples:<br>

`count()`<br>
`index()`<br>

You can press the `tab` key to see the list of available methods

**`tuple.count()`**<br>
Returns the **number of times** a specified value occurs in a tuple

In [36]:
ex2_tuple =(5, 6, 6, 7, 4, 4, 4, 7, 7, 7, 7)
ex2_tuple.count(7)
#in the param have to insert the value in the tuple

5

**`tuple.index()`**<br>
Searches the tuple for a specified value and returns the position of **where** it was found

In [55]:
ex2_tuple.index(7)

3

In [ ]:
ind = []

<a id="Dictionary"> </a>
## <span style="color:darkolivegreen">**3. Introduction to Dictionary**</span>

**General Syntax of Dictionary:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create a Dictionary
Separate keys from values with a colon `:` and a pair from another by a comma `,` Put it all in curly `{}` braces

In [39]:
# Create a dictionary
dic_ex = { "name" : 'Rushanthi',
           "age"  : 24 ,
           "dob" : "1998/09/23"}
dic_ex

{'name': 'Rushanthi', 'age': 24, 'dob': '1998/09/23'}

In [40]:
dic_ex['name']

'Rushanthi'

In [41]:
dic_ex2 = { "name" : ('Rushanthi', 'Baskaran'),
           "age"  : [24, 55] ,
           "dob" : ("1998/09/23", "1967/12/03")}
dic_ex2

{'name': ('Rushanthi', 'Baskaran'),
 'age': [24, 55],
 'dob': ('1998/09/23', '1967/12/03')}

### Accessing Items
You can access the items of a dictionary by referring to its `key name`, inside square brackets

In [42]:
# Get the value of a key
dic_ex["dob"]

'1998/09/23'

### Change Values
Dictionary is <span style="color:crimson">mutable</span>. You can change the value of a specific element by referring to its `key name`

In [43]:
# Change a value
dic_ex['name'] = 'Saran'
dic_ex

{'name': 'Saran', 'age': 24, 'dob': '1998/09/23'}

### **Adding Items**
Adding an item to the dictionary is done by using a new index key and assigning a value to it.

In [44]:
# Add new item to the dictionary
dic_ex["gender"] = "Male"
dic_ex

{'name': 'Saran', 'age': 24, 'dob': '1998/09/23', 'gender': 'Male'}

### Dictionary Methods

There are several methods that you can use on a dictionary:<br>

`pop()`<br>
`clear()`

You can press the `tab` key to see the list of available methods

**`dict.pop()`**<br>
This method removes the item with the specified key name

In [45]:
#remove a key from the dictionary
dic_ex.pop('gender')
dic_ex

{'name': 'Saran', 'age': 24, 'dob': '1998/09/23'}

**`dict.clear()`**<br>
This method empties the entire dictionary

In [46]:
#clear the dictionary
dic_ex.clear()
dic_ex

{}

<a id="sets"> </a>
## <span style="color:darkolivegreen">**4. Introduction to Sets**</span>

### Creating a Set
In Python sets are written with curly `{}`brackets

In [47]:
# create a set
s = {1,2,3}
s

{1, 2, 3}

**Try it yourself.**

Python has the following methods that you can use on sets:<br>

`add()`<br>
`update()`<br>
`len()`<br>
`pop()`<br>

In [48]:
s.add(54)
s

{1, 2, 3, 54}

In [52]:
s.update(34)
s

TypeError: 'int' object is not iterable

In [53]:
s2 = {1,2,3,3}
s2

{1, 2, 3}

In [54]:
s.update(s2)
s

{1, 2, 3, 54}