## **Python Variables**

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [1]:
num = 20

In [2]:
num

20

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named `'num'` and we have assigned value `20` to `'num'` variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example âˆ’

In [4]:
x=y=z=30

In [5]:
z

30

You can also assign multiple objects to multiple variables

In [6]:
x,y,z = 30,50,'hello'

In [8]:
print("It's a dog")

It's a dog

In [9]:
z

'hello'

#### Re-assigning a variable

In [11]:
var1 = 20
var2 = 'Rushanthi'
var1 = var2

In [12]:
var1

'Rushanthi'


## **Python Data Types**

A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:


*   Numbers
*   Strings
*   Boolean
*   Lists
*   Tuples
*   Dictionaries
*   Sets

<a id="num"> </a>
### Python Numbers
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>100</td>
  <td>52.1</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [13]:
type(num)

int

#### float

In [14]:
num = 1.23
type(num)

float

#### long

Long does not exist in Python 3 onwards

In [15]:
x = 99999999999999999999999999999999999999999999999
type(num)

float

#### complex

Complex numbers are not used much in Python

In [17]:
y = 3+4j
type(y)

complex

<a id="str"> </a>
### Python Strings

A string is a sequence of characters. You can delimit a string using single quotes `'string'` or double-quotes `"string"`.

In [18]:
str1 = "Hello"
str1

'Hello'

In [19]:
type(str1)

str

In [21]:
str2 = "Hello"

str2 = "Helo"

**String operations**

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

You cannot use the minus(-) operator and the division(/) operator on strings.

In [22]:
#Print a concatenated string    
str1 +str2

'HelloHello'

In [23]:
#Print a string three times   
str1 * 3

'HelloHelloHello'

**Indexing in Python**

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing in python starts with `0`

In [24]:
#Print third character of the string
str1[2]

'l'

In [25]:
str1[0]

'H'

In [27]:
str1[1:4]
#1 is inclusive and 4 is exclusive section

'ell'

You can also display a range of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [28]:
# Print the last character
str1[-1]

'o'

Strings are immutable.

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**.

<a id="typecon"> </a>
## **Type Conversion**
If you want to convert a value into another type, Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

You can turn a Boolean into an float.

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

#### int

Conversion from float to int will round-off the value (make it closer to zero).

 You can also turn a Boolean into an int.

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

#### str()
<em>str()</em> converts the value into a string.

<a id="print"> </a>
## **Python print()**

In [11]:
#initialize a variable and pass two objects

## **User Input**

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data by default as `string`. Basically, when we enter digit value, input() in python 3 stores it as string value. So to convert string value to integer value, we will use int() function just as shown below.

When `input()` function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. if you enter an integer value still `input()` function convert it into a string.

## **Python Operators**

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [15]:
# '+' Operator prints addition of a and b

# '-' Operator prints subtraction of  a and b

# '*' Operator prints multiplication of  a and b

# '%' Operator prints remainder of division between a and b

# '/' Operator prints division of  a and b

# '//' Operator prints the interger value of the division between a and b 

# '**' Operator prints the result of a to the power b

<a id="comp"> </a>
### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [16]:
# '>' Operator

# '<' Operator

# '==' Operator

# '!=' Operator

# '>=' Operator

# '<= y' Operator

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

Note:

i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)

In [18]:
# '=' Operator assigns the value to the variable on the left

# '+=' Operator

# '-=' Operator

# '*=' Operator

# '/=' Operator

<a id="logic"> </a>
### Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator â€“ **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

Here if both the conditions are satisfied, we have `True` as the output, else `False`

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.